
.testimonios{
    padding:0;
    padding-top:2rem;
    background-image: linear-gradient(to bottom, #000, #246688);
}

.testimonios .title{
    color:#fff;
}
.content-comments{
    display:flex;
    gap:2rem;
    overflow-x:scroll;
    padding:2rem;
}

.comment{
    min-width:320px;
    background:#fff;
    border-radius:10px;
    box-shadow:0 0 15px #0005;
    padding:1rem;
}

.content-img{
    width:4rem;
    height:4rem;
    border-radius:100%;
    /* border:solid 1px red; */
    overflow:hidden;
    border:solid 2px #fff;
    box-shadow:0 0 5px #0005;
    margin:0 auto;
}
.content-img img{ width:100%;}

.comment .name{
    margin-top:1rem;
    margin-bottom:1rem;
    font-weight: 600;
    font-size: 1.25rem;
    border-bottom:solid 1px #0001;
}

.comment .text{
    font-size:1.125rem;
    text-align: left;
}
